
@{
    ViewBag.Title = ViewBag.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Hospital.min.css" rel="stylesheet" />
<section class="hospital-section my-clipped uk-margin-medium-bottom">
    <div class="uk-text-center" uk-grid dir="rtl">
        <!--search filter section-->
        <div class="uk-width-1-4 filter-section">
            <div class="filter-card my-column">
                <div class="filter-header uk-margin-top uk-margin-bottom">محدود کردن نتایج جستجو</div>
                <form id="searchHospitals" action="Hospitals" method="post">
                    <input type="hidden" name="name" value="@ViewBag.name" />
                    <div class="">
                        @{
                            List<DataLayer.Models.TblLocation> listCity = ViewBag.CityList as List<DataLayer.Models.TblLocation>;
                            List<DataLayer.Models.TblCatagory> listCatagory = ViewBag.CatagoryList as List<DataLayer.Models.TblCatagory>;


                        }
                        <input type="hidden" name="city" id="city" value="@ViewBag.city" />
                        <select class="uk-select card-with-border city">
                            <option name="citySelected" value="0">انتخاب شهر</option>
                            @foreach (var item in listCity)
                            {
                                <option name="citySelected" value="@item.LocationId"  @(ViewBag.city==item.LocationId?"selected":"") >@item.LocationName</option>
                            }
                        </select>
                    </div>
                    <hr class="uk-divider-icon" />
                    <div class="uk-text-right my-column uk-margin-right uk-margin-bottom">
                        <label onclick="window.location.href='/Hospitals'" class="my-row"><input name="id" class="uk-checkbox" type="radio" value="0" disabled>  مراکز درمان </label>
                        @foreach (var item in listCatagory)
                        {
                            <label onclick="searchHospitals()" class="my-row"><input name="id" class="uk-checkbox" @(ViewBag.id==item.CatagoryId?"checked":"")  type="radio" value="@item.CatagoryId">  @item.Name </label>
                        }
                    </div>
                </form>
            </div>
        </div>
        <hr class="uk-divider-vertical uk-margin-remove">
        <div class="uk-width-expand">
            <!--start each hospital section-->
            @Html.Action("Hospitals")

            <!--end each hospital section-->

        </div>

    </div>

</section>


@section Scripts{


    <script>
        $("select").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            //alert(selectedCountry);
            $('#city').val(selectedCountry);
            searchHospitals()
        });
        function searchHospitals() {
            $('form#searchHospitals').submit();
        }
    </script>
}