@model DataLayer.ViewModels.LoginVm
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
<section class="login-section">
    <content class="my-flex-card my-row my-clipped my-center" dir="rtl">

        <div class="my-column">
            @if (Request.QueryString["activeUser"] == "true")
            {
                <div class="alert alert-success margin-bottom">
                    <p>حساب شما فعال شد میتوانید وارد حساب خود شوید </p>
                </div>
            }
            @if (Request.QueryString["resetPassWord"] == "true")
            {
                <div class="alert alert-success margin-bottom">
                    <p>رمز شما تغیر یافت میتوانید وارد حساب خود شوید </p>
                </div>
            }
            <label class="uk-legend uk-text-bold">
                <span>ورود</span>
            </label>
            <img class="my-center MobileSize" src="~/img/formStatic/Login.svg" width="250" alt="picture" />
            @using (Html.BeginForm())
            {
                @Html.Partial("_CaptchaInput")
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip gly-rotate-270" uk-icon="icon:call"></span>
                            @Html.EditorFor(model => model.TellNo, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "شماره تماس", maxlength = "11" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.TellNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:lock-closed"></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "رمز عبور" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
                    <button type="submit" class="light-blue-button my-center uk-margin-top">
                        ورود
                    </button>
                    <div class="uk-margin-bottom uk-margin-top my-center">
                        <a href="/Account/ForgetPassword" class="mytext-gray ">فراموشی رمز عبور</a>
                    </div>
                </fieldset>
            }

        </div>
        <div class="DesktopSize">
            <img src="~/img/formStatic/Login.svg" width="360" alt="picture" />
        </div>
    </content>
</section>