@model DataLayer.ViewModels.RegisterUserVm
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/LoginRegister.min.css" rel="stylesheet" />
<section class="register-section">
    <content class="my-flex-card my-row my-clipped my-center" dir="rtl">
        <div class="my-column">
            <label class="uk-legend uk-text-bold">
                <span>ثبت نام</span>
            </label>
            <img class="my-center MobileSize" src="~/img/formStatic/Register.svg" width="250" alt="picture" />
            @using (Html.BeginForm())
            {
                <div class="my-flex-card-content">

                    @Html.Partial("_CaptchaInput")
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:person"></span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "نام و نام خانوادگی " } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip gly-rotate-270" uk-icon="icon:call"></span>
                                @Html.EditorFor(model => model.TellNo, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = " شماره تماس" } })
                                @Html.ValidationMessageFor(model => model.TellNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:key"></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "  رمز عبور  " } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:key"></span>
                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "uk-input card-with-border", placeholder = "  تکرار رمز عبور  " } })
                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button onclick="location.href=''" class="light-blue-button my-center uk-margin-top">
                            ثبت نام
                        </button>
                    </fieldset>

                </div>

            }



        </div>
        <div class="DesktopSize">
            <img src="~/img/formStatic/Register.svg" width="360" alt="picture" />
        </div>
    </content>
</section>

