@model IEnumerable<DataLayer.Models.TblHospitalSpecialityRel>
@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/Resource/css/leaflet.css" rel="stylesheet" />
<link href="~/Content/Styles/Hospital.min.css" rel="stylesheet" />
<section class="doctor-section my-clipped uk-margin-medium-bottom">
    <div class="uk-text-center" uk-grid dir="rtl">
        <!--search filter section-->
        <div class="uk-width-1-4 filter-section">
            <div class="filter-card my-column">
                <div class="filter-header uk-margin-top uk-margin-bottom">محدود کردن نتایج جستجو</div>
                <form id="searchHospitals" action="Doctors" method="post">
                    <input type="hidden" name="name" value="@ViewBag.name" />
                    @{
                        List<DataLayer.Models.TblLocation> listCity = ViewBag.CityList as List<DataLayer.Models.TblLocation>;
                        List<DataLayer.Models.TblSpeciality> listSpeciality = ViewBag.SpecialityList as List<DataLayer.Models.TblSpeciality>;
                    }
                    @*<div class="">

                            <input type="hidden" name="city" id="city" value="@ViewBag.city" />
                            <select class="uk-select card-with-border city">
                                <option name="citySelected" value="0">انتخاب شهر</option>
                                @foreach (var item in listCity)
                                {
                                    <option name="citySelected" value="@item.LocationId" @(ViewBag.city == item.LocationId ? "selected" : "")>@item.LocationName</option>
                                }
                            </select>
                        </div>*@
                    <hr class="uk-divider-icon" />
                    <div class="uk-text-right my-column uk-margin-right uk-margin-bottom">
                        <label class="my-row"><input name="id" class="uk-checkbox" type="radio" value="0" disabled>  تخصص ها  </label>
                        @foreach (var item in listSpeciality)
                        {
                            <label onclick="searchHospitals()" class="my-row"><input name="id" class="uk-checkbox" @(ViewBag.id == item.SpecialityId ? "checked" : "") type="radio" value="@item.SpecialityId">  @item.Name </label>
                        }
                    </div>
                </form>
            </div>
        </div>
        <hr class="uk-divider-vertical uk-margin-remove">
        <div class="uk-width-expand">

            @foreach (var item in Model)
            {
                <label class="uk-legend uk-text-bold uk-margin-top uk-text-center uk-legend-mobile uk-margin-remove d-none">
                    <span>@item.TblUser.Name</span>
                </label>
                <div class="my-borderless-card uk-margin-medium-bottom">
                    <content class="my-flex-card my-row my-center" dir="rtl">
                        <div class="my-column">
                            <label class="uk-legend uk-text-bold uk-margin-top uk-text-right uk-margin-right">
                                <span> @item.TblUser.Name</span>
                            </label>
                            <div class="my-center MobileSize">
                                <div class="card-with-border my-center">
                                    <img src="~/Resources/Images/User/@item.TblUser.ImageUrl" alt="picture" />
                                    @*<img src="~/img/TestSample/doctor1.jpg" alt="picture" />*@
                                </div>
                            </div>
                            <ul class="uk-text-right uk-margin-right">
                                <li class="my-row">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: information-circle"></span>
                                    <p class="uk-margin-remove-top">
                                        @item.TblUser.DoctorDescription
                                    </p>

                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: pulse"></span>
                                    <span> @item.TblSpeciality.Name </span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: business"></span>
                                    <span>@item.TblHospital.Name</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-orange uk-margin-small-left" uk-icon="icon: card"></span>
                                    <span>هزینه ویزیت @item.TblUser.VisitPrice.ToString("#,0") تومان</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="gly-rotate-270 uk-margin-small-left" uk-icon="icon: call"></span>
                                    <span>@item.TblUser.TellNo</span>
                                    <a href="/Home/IntakeDay/@item.DoctorId?name=@item.TblUser.Name.Replace(" ","-")" class="desktop-intake-button float-left take-intake uk-text-center uk-margin-auto-right uk-margin-bottom">دریافت نوبت</a>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="text-danger uk-margin-small-left" uk-icon="icon: location"></span>
                                    <span>@item.TblUser.Address</span>
                                </li>
                            </ul>
                            <a href="/Home/IntakeDay/@item.DoctorId?name=@item.TblUser.Name.Replace(" ","-")" class="mobile-intake-button take-intake uk-text-center my-center uk-margin-small-top uk-margin-medium-bottom d-none">دریافت نوبت</a>
                        </div>
                        <div class="DesktopSize uk-margin-auto-vertical my-center">
                            <div class="card-with-border my-center">
                                <img src="~/Resources/Images/User/@item.TblUser.ImageUrl" alt="picture" />
                            </div>
                        </div>
                    </content>
                </div>
            }
        </div>
    </div>
</section>


@section Scripts{


    <script>
        //$("select").change(function () {
        //    var selectedCountry = $(this).children("option:selected").val();
        //    //alert(selectedCountry);
        //    $('#city').val(selectedCountry);
        //    searchHospitals()
        //});
        function searchHospitals() {
            $('form#searchHospitals').submit();
        }
    </script>
}
