@model DataLayer.Models.TblHospital
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/Resource/css/leaflet.css" rel="stylesheet" />
<link href="~/Content/Styles/Hospital.min.css" rel="stylesheet" />
<hr class="map-bg-border" />
<section class="doctor-section my-clipped uk-margin-medium-bottom">
    <!--hospital name and map section in doctor section-->
    <div class="uk-text-center" uk-grid dir="rtl">
        <div class="uk-width-1-4 HinD-section">
            <!--hospital name section-->
            <div class="my-column my-center hospitan-in-doctor">
                <div class="DesktopSize uk-margin-auto-vertical my-center">
                    <div class="card-with-border my-center">
                        <img src="~/img/TestSample/hospitalSample.jpg" alt="picture" />
                    </div>
                </div>
                <label class="uk-legend uk-text-bold uk-margin-top">
                    <span>@Model.Name</span>
                </label>
            </div>
            <!--end section-->
        </div>
        <hr class=" uk-margin-remove hidden HinD-section">
        <div class="uk-width-expand">
            <!--map section>-->
            <label class="uk-legend uk-legend-mobile uk-text-bold d-none">
                <span>@Model.Name</span>
            </label>
            <div class="hospitan-in-doctor map-in-doctor" style="">
                <div class="map" id="map">

                </div>
            </div>
            <!--end section-->
        </div>
    </div>
    <!--end hospital name and map section in doctor section-->
    <div class="uk-text-center" uk-grid dir="rtl">
        <!--search filter section-->
        <div class="uk-width-1-4 filter-section">
            <div class="filter-card my-column">
                <div class="filter-header uk-margin-top uk-margin-bottom">محدود کردن نتایج جستجو</div>
                <form id="searchHospitals" action="Doctor" method="post">
                    <input type="hidden" name="id" value="@ViewBag.id" />
                    <input type="hidden" name="name" value="@ViewBag.name" />
                    <div class="">
                        @{
                            List<DataLayer.Models.TblSpeciality> selectedSpeciality = ViewBag.SpecialityList as List<DataLayer.Models.TblSpeciality>;
                            List<DataLayer.Models.TblHospitalSpecialityRel> listSpeciality = new List<DataLayer.Models.TblHospitalSpecialityRel>();
                            if (ViewBag.Speciality != 0)
                            {
                                listSpeciality = Model.TblHospitalSpecialityRel
                                    .Where(i => i.SpecialityId == ViewBag.Speciality).ToList();
                            }
                            else
                            {
                                listSpeciality = Model.TblHospitalSpecialityRel.ToList();
                            }

                        }
                    </div>
                    <hr class="uk-divider-icon" />
                    <div class="uk-text-right my-column uk-margin-right uk-margin-bottom">
                        <label  class="my-row"><input name="speciality" class="uk-checkbox" type="radio" value="0" disabled>  تخصص ها  </label>
                        @foreach (var item in selectedSpeciality)
                        {
                            <label onclick="searchHospitals()" class="my-row"><input name="speciality" class="uk-checkbox" @(ViewBag.specialityId == item.SpecialityId ? "checked" : "") type="radio" value="@item.SpecialityId">  @item.Name </label>
                        }
                    </div>
                </form>
            </div>
        </div>
        <hr class="uk-divider-vertical uk-margin-remove">
        <div class="uk-width-expand">

            @foreach (var item in listSpeciality)
            {
                <label class="uk-legend uk-text-bold uk-margin-top uk-text-center uk-legend-mobile uk-margin-remove d-none">
                    <span>@item.TblUser.Name</span>
                </label>
                <div class="my-borderless-card uk-margin-medium-bottom">
                    <content class="my-flex-card my-row my-center" dir="rtl">
                        <div class="my-column">
                            <label class="uk-legend uk-text-bold uk-margin-top uk-text-right uk-margin-right">
                                <span> @item.TblUser.Name</span>
                            </label>
                            <div class="my-center MobileSize">
                                <div class="card-with-border my-center">
                                    <img src="~/Resources/Images/User/@item.TblUser.ImageUrl" alt="picture" />
                                    @*<img src="~/img/TestSample/doctor1.jpg" alt="picture" />*@
                                </div>
                            </div>
                            <ul class="uk-text-right uk-margin-right">
                                <li class="my-row">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: information-circle"></span>
                                    <p class="uk-margin-remove-top">
                                        @item.TblUser.DoctorDescription
                                    </p>

                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: pulse"></span>
                                    <span> @item.TblSpeciality.Name </span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: business"></span>
                                    <span>@Model.Name</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-orange uk-margin-small-left" uk-icon="icon: card"></span>
                                    <span>هزینه ویزیت @item.TblUser.VisitPrice تومان</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="gly-rotate-270 uk-margin-small-left" uk-icon="icon: call"></span>
                                    <span>@item.TblUser.TellNo</span>
                                    <a href="/Home/IntakeDay" class="desktop-intake-button float-left take-intake uk-text-center uk-margin-auto-right uk-margin-bottom">دریافت نوبت</a>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="text-danger uk-margin-small-left" uk-icon="icon: location"></span>
                                    <span>@item.TblUser.Address</span>
                                </li>
                            </ul>
                            <a href="/Home/IntakeDay" class="mobile-intake-button take-intake uk-text-center my-center uk-margin-small-top uk-margin-medium-bottom d-none">دریافت نوبت</a>
                        </div>
                        <div class="DesktopSize uk-margin-auto-vertical my-center">
                            <div class="card-with-border my-center">
                                <img src="~/Resources/Images/User/@item.TblUser.ImageUrl" alt="picture" />
                            </div>
                        </div>
                    </content>
                </div>
            }
            <!--start each doctor section-->
            @*<label class="uk-legend uk-text-bold uk-margin-top uk-text-center uk-legend-mobile uk-margin-remove d-none">
                    <span>نام پزشک</span>
                </label>
                <div class="my-borderless-card uk-margin-medium-bottom">
                    <content class="my-flex-card my-row my-center" dir="rtl">
                        <div class="my-column">
                            <label class="uk-legend uk-text-bold uk-margin-top uk-text-right uk-margin-right">
                                <span>نام پزشک</span>
                            </label>
                            <div class="my-center MobileSize">
                                <div class="card-with-border my-center">
                                    <img src="~/img/TestSample/doctor1.jpg" alt="picture" />
                                </div>
                            </div>
                            <ul class="uk-text-right uk-margin-right">
                                <li class="my-row">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: information-circle"></span>
                                    <p class="uk-margin-remove-top">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                    </p>

                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: pulse"></span>
                                    <span>قلب و عروق</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: business"></span>
                                    <span>بیمارستان امام رضا</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-orange uk-margin-small-left" uk-icon="icon: card"></span>
                                    <span>هزینه ویزیت 20000 تومان</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="gly-rotate-270 uk-margin-small-left" uk-icon="icon: call"></span>
                                    <span>152454135 - 165115165</span>
                                    <a href="/Home/IntakeDay" class="desktop-intake-button float-left take-intake uk-text-center uk-margin-auto-right uk-margin-bottom">دریافت نوبت</a>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="text-danger uk-margin-small-left" uk-icon="icon: location"></span>
                                    <span>تبریز- آبرسان-13 ابان</span>
                                </li>
                            </ul>
                            <a href="/Home/IntakeDay" class="mobile-intake-button take-intake uk-text-center my-center uk-margin-small-top uk-margin-medium-bottom d-none">دریافت نوبت</a>
                        </div>
                        <div class="DesktopSize uk-margin-auto-vertical my-center">
                            <div class="card-with-border my-center">
                                <img src="~/img/TestSample/doctor1.jpg" alt="picture" />
                            </div>
                        </div>
                    </content>
                </div>*@
            <!--end each doctor section-->
            <!--start each doctor section-->
            @*<label class="uk-legend uk-text-bold uk-margin-top uk-text-center uk-legend-mobile uk-margin-remove d-none">
                    <span>نام پزشک</span>
                </label>
                <div class="my-borderless-card uk-margin-medium-bottom">
                    <content class="my-flex-card my-row my-center" dir="rtl">
                        <div class="my-column">
                            <label class="uk-legend uk-text-bold uk-margin-top uk-text-right uk-margin-right">
                                <span>نام پزشک</span>
                            </label>
                            <div class="my-center MobileSize">
                                <div class="card-with-border my-center">
                                    <img src="~/img/TestSample/doctor1.jpg" alt="picture" />
                                </div>
                            </div>
                            <ul class="uk-text-right uk-margin-right">
                                <li class="my-row">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: information-circle"></span>
                                    <p class="uk-margin-remove-top">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                    </p>

                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: pulse"></span>
                                    <span>قلب و عروق</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-darkBlue uk-margin-small-left" uk-icon="icon: business"></span>
                                    <span>بیمارستان امام رضا</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="mytext-orange uk-margin-small-left" uk-icon="icon: card"></span>
                                    <span>هزینه ویزیت 20000 تومان</span>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="gly-rotate-270 uk-margin-small-left" uk-icon="icon: call"></span>
                                    <span>152454135 - 165115165</span>
                                    <a href="/Home/IntakeDay" class="desktop-intake-button float-left take-intake uk-text-center uk-margin-auto-right uk-margin-bottom">دریافت نوبت</a>
                                </li>
                                <li class="uk-margin-small-top">
                                    <span class="text-danger uk-margin-small-left" uk-icon="icon: location"></span>
                                    <span>تبریز- آبرسان-13 ابان</span>
                                </li>
                            </ul>
                            <a href="/Home/IntakeDay" class="mobile-intake-button take-intake uk-text-center my-center uk-margin-small-top uk-margin-medium-bottom d-none">دریافت نوبت</a>
                        </div>
                        <div class="DesktopSize uk-margin-auto-vertical my-center">
                            <div class="card-with-border my-center">
                                <img src="~/img/TestSample/doctor1.jpg" alt="picture" />
                            </div>
                        </div>
                    </content>
                </div>*@
            <!--end each doctor section-->
        </div>
    </div>
</section>

<input type="hidden" name="Lat" id="Lat" value="@Model.Lat" />
<input type="hidden" name="Lon" id="Lon" value="@Model.Lon" />

@section Scripts{

    <script>
        $("select").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            //alert(selectedCountry);
            $('#city').val(selectedCountry);
            searchHospitals()
        });
        function searchHospitals() {
            $('form#searchHospitals').submit();
        }
    </script>

    <script src="~/Areas/Admin/Resource/js/leaflet.js"></script>
    <script>
        var lat = $("#Lat").val();
        var Lon = $("#Lon").val();
        var map = L.map('map').setView([lat, Lon], 12);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);


        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [38, 35],
                iconAnchor: [12, 35]
            }
        });
        var customIcon = new iconSetting({ iconUrl: '/marker.png' });
        var theMarker = {};

        theMarker = L.marker([lat, Lon],
            { icon: customIcon }).addTo(map).bindPopup(
                `<h6 class='mytext-darkBlue'>نام مرکز درمانی</h6>`
            );

    </script>


}
