@model DataLayer.ViewModels.RegisterInAdminVm

@using (Ajax.BeginForm("PtCreate", "User", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "RegisterForm" }, htmlAttributes: new { @id = "RegisterForm" }))
{
    <div class="modal-header">
        <h6 class="modal-title" id="modalCenterTitle">
            افزودن کاربر
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
            <div class="form-group col-md-3">
                <label>نام کاریر</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "مثال: علی علیزاده" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                <label>شماره تماس</label>
                @Html.EditorFor(model => model.TellNo, new { htmlAttributes = new { @class = "form-control", placeholder = "...09" } })
                @Html.ValidationMessageFor(model => model.TellNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                <label>کد ملی</label>
                @Html.EditorFor(model => model.IdentificationNo, new { htmlAttributes = new { @class = "form-control", placeholder = "1234567890" } })
                @Html.ValidationMessageFor(model => model.IdentificationNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                <label>رمز عبور</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "****" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row bg-light p-2">
            <div class="form-check col-md-3">
                <label>جنسیت</label>
                <div class="form-check">
                    @Html.RadioButtonFor(model => model.Gender, "0", new { @checked = true, @class = "form-check-input" })
                    <label class="form-check-label" for="Female">
                        زن
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(model => model.Gender, "1", new { @class = "form-check-input" })
                    <label class="form-check-label" for="male">
                        مرد
                    </label>
                </div>
            </div>
            <div class="form-check col-md-3">
                <label>نقش</label>
                @{
                    List<DataLayer.Models.TblRole> lisrRoles = ViewBag.Roles as List<DataLayer.Models.TblRole>;
                }
                @foreach (var item in lisrRoles)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="RoleId" id="RoleId" value="@item.RoleId" @(item.Name == "User" ? "checked" : "")>
                        <label class="form-check-label" for="RoleId">
                            @item.Title
                        </label>
                    </div>
                }
            </div>
            @*<div class="form-check col-md-3 mr-4">
                <input type="checkbox" class="form-check-input " id="IsActive" value="1">
                <label class="form-check-label" for="IsActive">فعال است</label>
            </div>*@
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
}


@*@section Scripts {
        @Html.Partial("_ValidationScriptsPartial")
    }*@
