@model IEnumerable<DataLayer.Models.TblDay>
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        تنظیمات زمان ویزیت و نوبت دهی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form action="/Hospital/Doctor/PtVisit" method="post">
    <div class="modal-body">
        <div class="form-row mt-2">
            <div class="form-group col-md-3">
                <label>هزینه ویزیت (تومان)</label>
                <input class="form-control" type="number" placeholder="">
            </div>
            <div class="form-group col-md-3">
                <label>مدت زمان هر ویزیت (دقیقه)</label>
                <input class="form-control" type="number" placeholder="">
            </div>
        </div>
        <div class="form-row mt-2 mb-2">
            <label class="col-4 mt-3 uk-text-bold text-info">
                <span class="icon-holder" uk-icon="calendar"></span>
                روزهای کاری در طول هفته
            </label>
            <label class="col-4 mt-3 uk-text-bold text-info">
                <span class="icon-holder" uk-icon="alarm"></span>
                ساعت شروع به کار
            </label>
            <label class="col-4 mt-3 uk-text-bold text-info">
                <span class="icon-holder" uk-icon="alarm"></span>
                ساعت اتمام کار
            </label>
        </div>

        <div class="form-row bg-light pt-2"></div>

        @foreach (var item in Model)
        {
            <input type="hidden" id="DayId" name="DayId" value="@item.DayId" />
            <div class="form-row bg-light ">
                <div class="form-check col-4 pr-5 pb-1 pb-md-0">
                    <input name="IsWorking" value="@item.DayOfWeek" id="IsWorking" type="checkbox" @(item.IsWorking == true ? "checked" : "") class="form-check-input" >
                    @if (item.DayOfWeek == 1)
                    {
                        <label class="form-check-label">شنبه</label>
                    }
                    else if (item.DayOfWeek == 2)
                    {
                        <label class="form-check-label">یک شنبه</label>
                    }
                    else if (item.DayOfWeek == 3)
                    {
                        <label class="form-check-label">دوشنبه</label>
                    }
                    else if (item.DayOfWeek == 4)
                    {
                        <label class="form-check-label">سه شنبه</label>
                    }
                    else if (item.DayOfWeek == 5)
                    {
                        <label class="form-check-label">چهارشنبه</label>
                    }
                    else if (item.DayOfWeek == 6)
                    {
                        <label class="form-check-label">پنجشنبه</label>
                    }
                    else if (item.DayOfWeek == 7)
                    {
                        <label class="form-check-label">جمعه</label>
                    }
                </div>
                <div class="form-group col-4">
                    <input type="time" class="col-md-4 form-control form-control-sm" id="StartShift" name="StartShift" value="@item.StartShift" placeholder="">
                </div>
                <div class="form-group col-4">
                    <input type="time" class="col-md-4 form-control form-control-sm" id="EndShift" name="EndShift" value="@item.EndShift" placeholder="">
                </div>
            </div>
        }
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ثبت<span class="icon-holder uk-margin-small-right" uk-icon="checkmark-circle-outline"></span></button>
    </div>
</form>
