@using DataLayer.Models
@model IEnumerable<DataLayer.Models.TblHospital>
@{
    ViewBag.Title = "مراکز درمانی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <div class="card-form form-row">
                        <div class="form-input">
                            <div class="form-group mx-sm-1 mb-2 mr-1 mr-md-0">
                                <input id="SearchInput" class="form-control uk-text-small" type="text" placeholder="نام بیمارستان" value="">
                            </div>
                        </div>
                        <div class="form-toolbar mr-md-3 mr-1">
                            <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                            <a href="@Url.Action("PtCreate")" class="btn btn-success btn-sm float-left mr-2">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--list region-->


            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">نام مرکز</th>
                                <th scope="col">کاربر </th>
                                <th scope="col">شماره کاربر </th>
                                <th scope="col">شماره تماس</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">جزئیات</th>
                                <th scope="col">حسابرسی</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblHospital i in Model)
                            {
                                <tr id="hospita_@i.HospitalId">
                                    <td>@i.Name</td>
                                    <td>@i.TblUser.Name</td>
                                    <td>@i.TblUser.TellNo</td>
                                    <td>@i.TellNo</td>
                                    <td>@i.TblCatagory.Name</td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="جزئیات">
                                            <a onclick="PartialInfo(@i.HospitalId)" id="Information" data-toggle="modal" data-target="#modalSave" class="text-primary" uk-icon="information-circle"></a>
                                        </span>
                                    </td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حسابرسی">
                                            <a href="/Admin/Hospital/Fiat/@i.HospitalId" class="text-info" uk-icon="wallet"></a>
                                        </span>
                                    </td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                            <a href="@Url.Action("PtEdit",new {id= i.HospitalId})" class="text-primary" uk-icon="create-outline"></a>
                                        </span>
                                        @if (i.IsActive)
                                        {
                                            <span data-placement="top" id="IsActive" data-toggle="tooltip" title="" data-original-title="فعال">
                                                <a onclick="ChangeStatus(@i.HospitalId)">
                                                    <span class="text-success" uk-icon="toggle"></span>
                                                </a>
                                            </span>
                                        }
                                        else
                                        {
                                            <span data-placement="top" id="IsActive" data-toggle="tooltip" title="" data-original-title="غیر فعال">
                                                <a onclick="ChangeStatus(@i.HospitalId)">
                                                    <span class="text-secondary gly-rotate-180" uk-icon="toggle"></span>
                                                </a>
                                            </span>
                                        }

                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                            <a onclick="deleteHospital(@i.HospitalId)"><i class="btn fas fa-trash mr-2 text-danger">حذف</i></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end list region-->
            <div class="card-footer bg-white">
                @*<nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">

                            @if (ViewBag.PageId == 1)
                            {
                                <li class="page-item d-none">
                                    <a class="page-link" onclick="Page(@((int)ViewBag.PageId-1))">قبلی</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Admin/Project?PageId=@((int)ViewBag.PageId-1)&Result=@ViewBag.Result&InPageCount=@ViewBag.InPageCount">قبلی</a>
                                </li>

                            }

                            <li class="page-item">
                                <select id="pageNumber" class="custom-select custom-select-sm">
                                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                                    {
                                        <option class="page-item" value="@i" @(((int)ViewBag.pageId == i) ? "selected" : "")>صفحه @i از @((int)ViewBag.PageCount + 1)</option>
                                    }
                                </select>
                            </li>


                            @if ((int)ViewBag.PageId > (int)ViewBag.PageCount)
                            {
                                <li class="page-item d-none">
                                    <a class="page-link" onclick="Page(@((int)ViewBag.PageId + 1))">بعدی</a>
                                </li>
                            }
                            else

                            {
                                <li class="page-item">
                                    <a class="page-link" href="/Admin/Project?PageId=@((int)ViewBag.PageId-1)&Result=@ViewBag.Result&InPageCount=@ViewBag.InPageCount">بعدی</a>
                                </li>

                            }
                            <li>
                                <select id="InPageCount" class="custom-select custom-select-sm">
                                    @if (ViewBag.InPageCount == 0)
                                    {
                                        <option value="0" selected>18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>

                                    }

                                    @if (ViewBag.InPageCount == 20)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20" selected>20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>
                                    }
                                    else if (ViewBag.InPageCount == 30)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30" selected>30 در هر صفحه</option>
                                        <option value="40">40 در هر صفحه</option>
                                    }
                                    else if (ViewBag.InPageCount == 40)
                                    {
                                        <option value="0">18 در هر صفحه</option>
                                        <option value="20">20 در هر صفحه</option>
                                        <option value="30">30 در هر صفحه</option>
                                        <option value="40" selected>40 در هر صفحه</option>
                                    }

                                </select>
                            </li>
                        </ul>
                    </nav>*@
            </div>
        </div>
    </div>
</div>

@section Script{

    <script>
        //$("#Create").click(function () {
        //    $.get("/Admin/Hospital/PtCreate", function (result) {
        //        $(".modal-content").html(result);
        //    });
        //});

        //$("#Edit").click(function () {
        //    $.get("/Admin/Hospital/PtEdit", function (result) {
        //        $(".modal-content").html(result);
        //    });
        //});

        function PartialInfo(id) {
            $.get("/Admin/Hospital/PtHospitalInfo?id=" + id, function (result) {
                $(".modal-content").html(result);
            });
        }

        function ChangeStatus(id) {
            $("#overlay").fadeIn(300);
            $.get("/Admin/Hospital/ChangeStatus/" + id, function (result) {
                if (result == "true") {
                    location.reload();
                }
                else {
                    $("#overlay").fadeOut(300);
                }
            });
            //$("#overlay").fadeOut(300);
        }

        function deleteHospital(id) {
            if (confirm('آیا از حذف  مورد نظر مطمئن هستید؟')) {
                $.post("/Admin/Hospital/Delete/" + id, function (result) {
                    if (result == "true") {
                        $('#hospita_' + id).addClass('text-danger');
                        $("#hospita_" + id).hide('slow');
                    } else {
                        alert(" حذف نمی شود");
                    }
                });
            } else {
                // Do nothing!
            }
        }

    </script>
}



