@using IntakeSystem.Utilities
@model DataLayer.Models.TblHospital
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات مراکز درمانی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row ">
        <div class="form-group col-md-3">
            <label>دسته بندی: </label>
            <span>@Model.TblCatagory.Name</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام مرکز درمانی: </label>
            <span>@Model.Name</span>
        </div>
        <div class="form-group col-md-3">
            <label>شماره های تماس: </label>
            <span>@Model.TellNo @(string.IsNullOrEmpty(Model.TellNo2)?"":$"- {Model.TellNo2}")</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام ادمین: </label>
            <span>@Model.TblUser.Name</span>
        </div>
        <div class="form-group col-md-3">
            <label>تاریخ ثبت مرکز درمانی: </label>
            <span>@Model.DateCreated.ToShamsi()</span>
        </div>
        <div class="form-group col-md-3">
            <label>درصد سود: </label>
            <span>@Model.Fee</span>
        </div>
        <div class="form-group col-md-3">
            <label>وضعیت: </label>
            @if (Model.IsActive)
            {
                <span class="text-success">فعال</span>
            }
            else
            {
                <span class="text-danger">غیر فعال</span>
            }
        </div>
        <hr />
        <div class="form-group col-12">
            <label>آدرس: </label>
            <span>@Model.Address</span>
        </div>
        <hr />
        <div class="form-group col-12">
            <label> درباره ما مرکز درمانی:</label>
            <div class="bg-light p-3 uk-border-rounded">
                @Model.AboutUs
            </div>
        </div>
    </div>
</div>


