@model DataLayer.Models.TblOrder
@using DataLayer.Utilities;

<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات حسابرسی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-row ">
        <div class="form-group col-md-3">
            <label>کد نوبت اخذ شده: </label>
            <span>@Model.OrderId</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام بیمار: </label>
            <span>@Model.TblUser.Name</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام پزشک: </label>
            <span>@Model.TblHospitalSpecialityRel.TblUser.Name</span>
        </div>
        <div class="form-group col-md-3">
            <label>نام مرکز درمانی: </label>
            <span>@Model.TblHospitalSpecialityRel.TblHospital.Name </span>
        </div>
        <div class="form-group col-md-3">
            <label> درصد پزشک از قیمت: </label>
            <span>@Model.DoctorsPart</span>
        </div>
        <div class="form-group col-md-3">
            <label>درصد مرکز درمانی از قیمت: </label>
            <span>@Model.HospitalsPart</span>
        </div>
        <div class="form-group col-md-3">
            <label>زمان ثبت نوبت: </label>
            <span>@Model.DateCreated.DateToShamsi()</span>
        </div>
        <div class="form-group col-md-3">
            <label>زمان مراجعه : </label>
            <span>@Model.Time.DateToShamsi()</span>
        </div>
        <div class="form-group col-md-3">
            <label>زمان ویزیت: </label>
            <span>@Model.Time.ToString("HH:mm")</span>
        </div>
        <div class="form-group col-md-3">
            <label>وضعیت: </label>
            @if (Model.SettlementStatus == 1)
            {
                <span class="text-success">تسویه شده</span>
            }
            else
            {
                <span class="text-danger">تسویه نشده</span>
            }
        </div>
    </div>
</div>
