@model DataLayer.ViewModels.InfoVisitDayViewModel
@{
    ViewBag.Title = "تایید اطلاعات";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Styles/Information.min.css" rel="stylesheet" />
<section class="confirm-information-section">
    <label class="uk-legend uk-text-bold uk-text-right">
        <span>تایید اطلاعات و ثبت نوبت</span>
    </label>
    <div class="my-borderless-card uk-margin-medium-bottom">
        <content class="my-flex-card my-row my-center" dir="rtl">
            <div class="my-column">
                <div class="my-center MobileSize">
                    <div class="my-center">
                        <img src="~/img/formStatic/ConfirmInfo.svg" alt="picture" />
                    </div>
                </div>
                <div class="my-center information">
                    <ul class="uk-text-right uk-margin-large-right uk-margin-medium-top">
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: person-outline"></span>
                            <span class="mytext-darkBlue uk-text-bold">نام و نام خانوادگی: </span>
                            <span>@Model.NameUser</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="gly-rotate-270 mytext-darkBlue" uk-icon="icon: call"></span>
                            <span class="mytext-darkBlue uk-text-bold">شماره تماس: </span>
                            <span>@Model.TellNoUser</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: male-female"></span>
                            <span class="mytext-darkBlue uk-text-bold">جنسیت: </span>
                            @if (Model.GenderUser)
                            {

                                <span>مرد</span>
                            }
                            else
                            {
                                <span>زن</span>

                            }
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: business"></span>
                            <span class="mytext-darkBlue uk-text-bold">نام بیمارستان: </span>
                            <span>@Model.HospitalName</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: person"></span>
                            <span class="mytext-darkBlue uk-text-bold">نام دکتر: </span>
                            <span>@Model.DoctorName (@Model.SpecialityName)</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: calendar-outline"></span>
                            <span class="mytext-darkBlue uk-text-bold">تاریخ ثبت نوبت: </span>
                            <span> @Model.DayName @Model.DayVisit</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: time-outline"></span>
                            <span class="mytext-darkBlue uk-text-bold">زمان ویزیت: </span>
                            <span>@Model.TimeVisit</span>
                        </li>
                        <li class="uk-margin-small-top">
                            <span class="mytext-darkBlue" uk-icon="icon: card-outline"></span>
                            <span class="mytext-darkBlue uk-text-bold">مبلغ قابل پرداخت: </span>
                            <span class="text-success">@Model.VisitPrice.ToString("#,0") تومان</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="DesktopSize uk-margin-auto-vertical my-center">
                <div class="my-center">
                    <img src="~/img/formStatic/ConfirmInfo.svg" alt="picture" />
                </div>
            </div>
        </content>
        <div class="my-row info-buttons my-center" dir="rtl">
            <a href="/Payment?id=@Model.HospitalSpecialId&time=@Model.VisitDateMilady" class="confirm-darkBlue">تایید و پرداخت</a>
            <a onclick="history.back()" class="reject-orange">انصراف</a>
        </div>
    </div>

</section>